---
import { getCollection } from 'astro:content'
import CardProjet from '../components/CardProjet.astro'
import { ordreProjets } from '../ordre-projets'

const projets = await getCollection('projets')

// 1. TRI (On crée une copie pour ne pas muter l'original)
const triProjets = [...projets].sort((a, b) => {
  const indexA = ordreProjets.indexOf(a.id)
  const indexB = ordreProjets.indexOf(b.id)
  const posA = indexA === -1 ? 999 : indexA
  const posB = indexB === -1 ? 999 : indexB
  return posA - posB
})
---

<div class="flex flex-col gap-40 mt-8">
  {
    triProjets.map((projet, i) => {
      // 2. LOGIQUE DE COULEUR FORCÉE
      const isWhiteCard = i % 2 === 0
      const finalBgColor = isWhiteCard
        ? 'var(--color-white)'
        : projet.data.bgColor
      const finalForeground = isWhiteCard
        ? 'var(--color-black)'
        : 'var(--color-white)'

      return (
        <div
          class="sticky top-[20vh] w-full"
          style={`z-index: ${i + 1};`}
        >
          <CardProjet
            titre={projet.data.titre}
            tags={projet.data.tags}
            couleurFondBtn={finalBgColor}
            date={projet.data.date}
            lieu={projet.data.lieu}
            cover1={projet.data.cover1}
            cover2={projet.data.cover2}
            cover3={projet.data.cover3}
            bgColor={finalBgColor}
            foreground={finalForeground}
            slug={projet.id}
          />
        </div>
      )
    })
  }
</div>
