---
import { Image } from 'astro:assets'
import Arrow from '../components/Arrow.astro'
import type { ImageMetadata } from 'astro'

type ImageProjet = {
    src: ImageMetadata
    alt: string
  }

interface Props {
  titre: string
  tags: string[]
  bgColor: string
  foreground: string
  slug: string
  lieu: string
  date: string
  cover1: ImageProjet
  cover2: ImageProjet
  cover3: ImageProjet
}
---

<section class="flex w-full flex-col px-10 py-20 gap-8" style={{backgroundColor:Astro.props.bgColor}}>
  <div class="flex w-full gap-4 h-[30vh] md:h-[40vh] lg:h-[60vh]">
    <div class="flex-2 min-w-0 overflow-hidden">
      <Image
        src={Astro.props.cover1.src}
        alt={Astro.props.cover1.alt}
        quality='low'
        class="w-full h-full object-cover"
      />
    </div>

    <div class="flex flex-1 flex-col gap-4 min-w-0">
      <div class="min-h-0 flex-1 overflow-hidden">
        <Image
          src={Astro.props.cover2.src}
          alt={Astro.props.cover2.alt}
          quality='low'
          class="w-full h-full object-cover"
        />
      </div>
      <div class="min-h-0 flex-1 overflow-hidden">
        <Image
          src={Astro.props.cover3.src}
          alt={Astro.props.cover3.alt}
          quality='low'
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4 " style={{color:Astro.props.foreground}}>
    <div
      class="flex gap-2" 
    >
    <div class="flex flex-col">
      <h2
        class="text-3xl font-semibold italic break-words"
        style="font-family: 'Lora', 'serif';"
      >
      {Astro.props.titre}
      </h2>
      <p class= text-sm">{Astro.props.lieu}</p>
      </div>
      <a
      href={Astro.props.slug}
      target="_self"
      class="shrink-0 ml-auto flex self-start items-center border-2 rounded-full px-2 py-1 overflow-hidden gap-2" 
      style={{color:Astro.props.foreground, borderColor:Astro.props.foreground}}
    >
      <p class="tracking-widest text-xs font-medium">See</p>
      <Arrow foreground={Astro.props.foreground}/>
    </a>
    </div>
    <div class="flex flex-wrap items-center gap-x-2" >
        {
          Astro.props.tags.map((t) => (
            <span class=" uppercase tracking-widest text-xs shrink-0">{t}</span>
             <span class="w-0.25 h-4" style={{backgroundColor:Astro.props.foreground}}></span> 
          ))
        }
      </div>
   
  </div>
</section>
