---
import { getCollection } from 'astro:content'
import CardProjet from '../components/CardProjet.astro'
import { ordreProjets } from '../ordre-projets'

const projets = await getCollection('projets')

// 1. TRI (On crée une copie pour ne pas muter l'original)
const triProjets = [...projets].sort((a, b) => {
  const indexA = ordreProjets.indexOf(a.id)
  const indexB = ordreProjets.indexOf(b.id)
  const posA = indexA === -1 ? 999 : indexA
  const posB = indexB === -1 ? 999 : indexB
  return posA - posB
})
---

<div class="flex flex-col gap-40 mt-8">
  {
    triProjets.map((projet, i) => {
      // 1. On définit si c'est une carte paire si oui, elle est blanche par défaut -> c'est pour l'affiche des cards dans la page projets
      const isWhiteCard = i % 2 === 0

      // 2. Exception à la règle
      // On vérifie si c'est le projet Cap Cathare
      const isCapCathare = projet.id === 'cap-cathare'

      // Si c'est Cap Cathare, on prend SA couleur du MDX, sinon on suit la règle paire/impaire
      const finalBgColor = isCapCathare
        ? projet.data.bgColor
        : isWhiteCard
          ? 'var(--color-white)'
          : projet.data.bgColor

      // Pour le texte : Si c'est Cap Cathare, on FORCE le noir, sinon règle habituelle
      const finalForeground = isCapCathare
        ? 'var(--color-black)'
        : isWhiteCard
          ? 'var(--color-black)'
          : 'var(--color-white)'

      return (
        <div
          class="sticky top-[20vh] sm:top-[10vh] w-full"
          style={`z-index: ${i + 1};`}
        >
          <CardProjet
            titre={projet.data.titre}
            tags={projet.data.tags}
            couleurFondBtn={finalBgColor}
            date={projet.data.date}
            lieu={projet.data.lieu}
            cover1={projet.data.cover1}
            cover2={projet.data.cover2}
            cover3={projet.data.cover3}
            bgColor={finalBgColor}
            foreground={finalForeground}
            slug={projet.id}
          />
        </div>
      )
    })
  }
</div>
