---
import LogoPrincipale from './LogoPrincipale.astro'
import SocialLink from './SocialLink.astro'
import LogoWhatsApp from '../assets/LogoWhatsApp.png'
import LogoOutlook from '../assets/LogoOutlook.png'
import LogoLinkedin from '../assets/LogoLinkedin.png'
import LogoInstagram from '../assets/LogoInstagram.png'
import LogoBehance from '../assets/LogoBehance.png'
---

<footer
  class="mt-auto flex flex-col w-full bg-darkblue px-10 pt-10 pb-40 md:pb-20"
>
  <div
    class="flex overflow-hidden items-center justify-center p-10 pb-15 md:pb-10 md:p-5"
  >
    <LogoPrincipale class="w-80 h-auto" />
  </div>

  <div
    class="flex justify-between items-start gap-6 md:gap-12 md:justify-center"
  >
    <div class="flex flex-col gap-4 items-start md:flex-row md:gap-12">
      <SocialLink
        href="https://wa.me/33642049542"
        src={LogoWhatsApp}
        texte="WhatsApp"
        alt="Contacte moi par WhatsApp"
      />
      <SocialLink
        href="mailto:rachel.bastie@outlook.fr"
        src={LogoOutlook}
        texte="Outlook"
        alt="Envoie moi un mail sur Outlook"
      />
    </div>
    <div class="flex flex-col gap-4 md:flex-row md:gap-12">
      <SocialLink
        href="https://www.linkedin.com/in/rachel-bastie/"
        src={LogoLinkedin}
        texte="Linkedin"
        alt="Retrouve moi sur Linkedin"
      />
      <SocialLink
        href="https://www.instagram.com/rachel_bastie_graphiste/"
        src={LogoInstagram}
        texte="Instagram"
        alt="Retrouve moi sur Instagram"
      />
      <SocialLink
        href="https://www.behance.net/rachelbastie"
        src={LogoBehance}
        texte="Behance"
        alt="Regarde mon Behance"
      />
    </div>
  </div>
  <hr class="border-t border-white my-10 w-full" />
  <div class="flex w-full flex-col md:flex-row justify-between">
    <div class="flex items-center justify-between">
      <p
        class="flex w-full flex-col md:items-start font-semibold mx-auto items-center justify-between"
      >
        <a
          href="tel:+33642049542"
          class="text-white hover:text-[var(--color-blue)] no-underline"
        >
          06.42.04.95.42
        </a>

        <a
          href="mailto:rachel.bastie@outlook.fr"
          class="text-white hover:text-[var(--color-blue)] no-underline"
        >
          rachel.bastie@outlook.fr
        </a>
      </p>
    </div>
    <div
      class="flex flex-col md:items-end justify-center items-center pt-10 md:pt-0"
    >
      <p class="flex text-white text-sm font-medium">© 2026 Rachel Bastie.</p>
      <p class="flex text-white text-sm font-medium">Tous droits réservés.</p>
      <a
        href="/mentions-legales"
        class="flex text-white text-sm font-medium opacity-60"
      >
        Mentions légales
      </a>
    </div>
  </div>
</footer>
