---
// On définit les variables que le composant peut recevoir
const { date, title, company, side, color, y } = Astro.props
---

<div
  class={`item ${side}`}
  style={`top: ${y}px;`}
>
  <span class={`date ${color}`}>{date}</span>
  <h3 class="text-lg">{title}</h3>
  <p>{company}</p>
</div>

<style>
  /* Le style est écrit UNE SEULE FOIS ici */
  .item {
    position: absolute;
    width: 300px;
  }
  .left {
    left: 50px;
    text-align: left;
  }
  .right {
    right: 50px;
    text-align: left;
  }
  .date.red {
    color: var(--color-red);
  }
  .date.blue {
    color: var(---color-blue);
  }
</style>
